:root {
  --primery-color: #b38b56;
  --secondary-color: #f7f5f1;
  --hover-color: #d3aa39;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--secondary-color);
  color: #333333;
  margin: 0;
}

.logo-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.list-no-style {
  list-style: none;
  padding: 0;
  margin: 0;
}

h2.gold {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-style: italic;
  text-transform: none;
}
.title {
  font-weight: 800;
  font-style: bold;
  font-size: 28px;
}
.header {
  padding: 20px 0;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 1000;
}
.logo-link {
  transition: 0.3s;
}
.logo-link:hover {
  opacity: 0.7;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 80%;
  height: 100vh;
  background-color: var(--secondary-color);
  z-index: 2000;
  transition: right 0.3s ease;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
}

.mobile-menu.open {
  right: 0;
}

.close-btn {
  background: none;
  border: none;
  font-size: 2rem;
  padding: 1rem;
  align-self: flex-end;
  color: #333;
}

.nav-link {
  color: #b38b56;
  text-transform: uppercase;
}

.nav-link:hover {
  color: var(--hover-color);
}

.btn-menu {
  width: 50px;
  height: 50px;
}
.btn-menu:hover {
  border-color: var(--primery-color);
  height: 50px;
  width: 50px;
}

.header-logo {
  max-width: 150px;
}

.close-btn:hover {
  color: var(--primery-color);
}
.navbar-toggler-icon {
  background-image: none; /* отключаем стандартную иконку */
  width: 24px;
  height: 2px;
  background-color: var(--primery-color);
  display: block;
  position: relative;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
  content: "";
  background-color: var(--primery-color);
  width: 24px;
  height: 2px;
  position: absolute;
  left: 0;
  transition: all 0.3s ease;
}

.navbar-toggler-icon::before {
  top: -8px;
}

.navbar-toggler-icon::after {
  top: 8px;
}

.nav-header {
  list-style: none;
}

.intro {
  padding: 160px 0 100px;
}

.bg-intro {
  background-image: url("/img/mobile.jpg");
  background-size: cover;
  background-position: top center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.white {
  color: var(--secondary-color);
}

.gold {
  color: var(--primery-color);
}

.btn-gold {
  background-color: var(--primery-color);
  color: var(--secondary-color);
  border: none;

  letter-spacing: 0.4px;
  text-transform: uppercase;
  font-size: 12px;
}

.btn-gold:hover {
  background-color: #a27c4d;
}

section {
  padding: 40px 0;
}

.lead {
  font-size: 0.8rem;
  color: var(--secondary-color);
}

.card-style {
  border: 1px solid #d5c4ac;
  background-color: #ffffffe5;
  margin-bottom: 20px;
}

footer {
  background-color: var(--secondary-color);
}

.social-list a {
  color: var(--primery-color);
  font-size: 2rem;
  transition: color 0.3s;
}

.social-list a:hover {
  color: #ecb777;
}

.a {
  color: var(--primery-color);
}

.a:hover {
  color: var(--hover-color);
}

.lead a:hover {
  color: var(--hover-color);
}

.map-link {
  position: absolute;
  font-size: 10px;
  padding-top: 45px;
  text-align: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.socials-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: 0.3s ease;
}

.map-icon {
  width: 20px;
  height: 20px;
  padding: 22px;
  margin-right: 5px;
  position: relative;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  transition: 0.3s ease;

  border-radius: 50%;
  transition: 0.6s;
}

.map-icon:nth-child(1) {
  background-image: url("/img/yandex-maps.svg");
}
.map-icon:nth-child(2) {
  background-image: url("/img/google-maps.svg");
}
.map-icon:nth-child(3) {
  background-image: url("/img/gis-maps.svg");
}

@media (hover: hover) {
  .map-icon:hover,
  .map-icon:active,
  .socials-icon:hover,
  .socials-icon:active {
    box-shadow: 0 0 10px 1px var(--primery-color);
  }
}
/* Desktop / Tablet */
@media (min-width: 768px) {
  .title {
    font-size: 3rem;
  }

  .lead {
    font-size: 1.25rem;
  }

  .btn {
    width: auto;
  }

  .card-style {
    margin-bottom: 30px;
  }

  .logo {
    max-width: 220px;
  }
  .btn-menu {
    display: none;
  }

  .mobile-menu {
    position: relative;
    top: 0;
    right: 0;
    width: 80%;
    height: 100%;
    background-color: transparent;
    z-index: 2000;
    transition: right 0.3s ease;
    box-shadow: none;
  }

  .close-btn {
    display: none;
  }
  .nav-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    list-style: none;
    margin-bottom: 0;
  }
  .item {
    margin-right: 10px;
  }
  .item:nth-last-child {
    margin-right: 0;
  }
  .navbar-toggler-icon {
    display: none;
  }
  .nav-link {
    font-size: 0.6rem;
  }

  .intro {
    padding: 160px 0;
  }

  section {
    padding: 60px 0;
  }

  .bg-intro {
    background-image: url("/img/table-3.png");
    background-size: cover;
    background-position: top center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
  }

  .text {
    font-size: 1rem;
  }
}

section {
  position: relative;
}

.container-text {
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 20%;

  transform: translate3d(-50%, -20%, 0);
  color: white;
  font-family: Arial, sans-serif;
}
.container-text h1 {
  font-size: 2.5rem;
  line-height: 1;
  margin: 0;
}
.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
  width: 100px;
  height: auto;
  /* margin-bottom: 20px; */
}

.d-none {
  display: none !important;
}

a {
  color: #d3aa39;
  text-decoration: none;
}

a:hover {
  color: #b38b56;
}
